@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
    background-image: url("background.png");
    background-size: cover;
    background-color: rgb(222, 222, 246);
    border: 8px groove rgb(171, 193, 204);
    margin: 0px 0px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.button {
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 6px;
    cursor: pointer;
    border-radius: 64px;
    width: 120px;
    height: 68px;
    background-color: #4143a6d1;
    color: rgb(229, 166, 103);
    border: 3px solid black;
  }

.button:hover {
    background-color: #c0c0c05b;
    color: rgb(167, 35, 35);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 12px 24px 0 rgba(0,0,0,0.19);
}

.restart {
    cursor: pointer;
    font-weight: bolder;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    margin:auto;
    border-radius: 22px;
    width: 120px;
    height: 80px;
    background-color: rgb(195, 108, 96);
}

.restart:hover {
    background-color: #1fab0d5b;
    color: rgb(77, 77, 77);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 12px 24px 0 rgba(0,0,0,0.19);
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 500px;
    border-radius: 8px;
    margin-bottom: 550px;
    position:fixed;
    top:auto;
    bottom:-500px;
    left:0;
    right:0;
    font-weight: bold;
    color: rgb(229, 166, 103);
}

.player {
    display: flex;
    border-radius: 22px;
    background-color: rgba(50, 6, 87, 0.858);
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}

.computer {
    display: flex;
    border-radius: 22px;
    background-color: rgba(50, 6, 87, 0.858);
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}

.message {
    font-family: 'Helvetica Neue';
    color: rgb(161, 178, 220);
    height: 44px;
    width: 300px;
    line-height: 44px;
    font-weight: bolder;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 12px auto;
    text-align: center;
    background-color: rgb(60, 47, 72);
    border-radius: 16px;
    border: 1px solid rgb(0, 0, 0);
     
    text-shadow:
          0 3px 10px rgb(75, 72, 76),
          0 0 10px rgb(92, 98, 93),
      0 0 6px rgb(71, 69, 66),
      4px -5px 6px rgba(174, 168, 237, 0.326),
      -4px -6px 6px rgba(157, 151, 219, 0.469),
      0 -6px 15px rgba(144, 138, 200, 0.469);
    animation: 5s Blazing infinite alternate-reverse linear;
}

@keyframes Blazing {
0%   { text-shadow: 0 3px 7px rgb(82, 79, 0), 0 0 10px rgb(114, 101, 167),
    0 0 6px rgb(121, 211, 192),
    0 0 0 rgb(0, 255, 247),
    0 0 5px yellow,
    -2px -5px 5px rgb(128, 0, 255),
    2px -5px 5px rgb(102, 0, 255); }

50%   { text-shadow: 0 3px 8px rgb(95, 78, 13), 0 0 8px rgb(114, 101, 167),
    0 -5px 6px rgb(107, 159, 158),
    3px -5px 5px rgb(158, 157, 167),
    -4px -5px 5px rgb(134, 168, 151),
    2px -5px 7px rgba(255,255,0,0.5),
    0px -5px 7px rgba(228, 228, 160, 0)}

}
